* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
    color: #332421;
}

.header {
    padding: 20px;
    background-color: #F8C8DC;

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
    gap: 20px;
}

.logo img {
    width: 150px;
    max-width: 100%;
    height: auto;
    display: block;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #332421;
    font-weight: bold;
    padding: 10px;
}

.nav a:hover {
    background-color: #F5F5DC;
}

main {
    min-height: 70vh;
    padding: 20px;
}

section {
    padding: 40px 20px;
}

.admin-painel {
    text-align: center;
}

.admin-painel h1 {
    margin-bottom: 15px;
}

.admin-painel p {
    margin-bottom: 30px;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-menu a {
    display: block;
    padding: 15px;
    background-color: #F8C8DC;
    color: #332421;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.admin-menu a:hover {
    background-color: #332421;
    color: #F5F5DC;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #F8C8DC;
    color: #332421;
}

.banner-inicial {
    position: relative;
    min-height: 500px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
}

.banner-inicial img {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: brightness(50%);
}

.banner-conteudo {
    position: relative;
    z-index: 1;
}

.galeria {
    padding: 40px 20px;
    text-align: center;
    background-color: #F5F5DC;
}

.galeria h2 {
    color: #332421;
    font-size: 28px;
    margin-bottom: 25px;
}

.galeria-imagens {
    display: flex;

    gap: 15px;

    overflow-x: auto;

    scroll-snap-type: x mandatory;

    padding: 10px 5px 20px;

    max-width: 100%;
}

.galeria-imagens img {
    min-width: 80%;

    height: 220px;

    object-fit: cover;

    border-radius: 12px;

    scroll-snap-align: center;
}
